<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>KasirKu</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

	<header><!---------------------------------HEADER----------------------------->
		<h1>KasirKu.com  <img src="img/cart.png" width="70" height="70"></img></h1>
		<h1>Hellooo</h1>
	</header>

	<nav>
		<!--
		<ul id="navlist">
			<li id = "navitem"> <button>Hitung Belanja</button> </li>
				
			<li id = "navitem"> <button>Cetak Struk</button> </li>
		</ul>
		-->
	</nav>

	<article><!--------------------------------ARTICLE------------------------------->
		<ul id="list">
			<!--<li class="inputline" id="l0">
				<div id="forum">
					<input id="inputbox" type="text" name="nama" value="Nama Barang">
					<input id="inputbox" type="text" name="harga" value="Harga Barang">
					<input id="inputbox" type="text" name="jumlah" value="Jumlah Barang">
					<input id="inputbox" type="text" name="diskon" value="Diskon Perbarang (Dalam persen)">
					<button name="0" id="kurang" onclick="removeLine(name)">-</button>
				</div>
			</li>-->
		</ul>
		<button id="tambah" onclick="addLine()">+</button>
	</article>



	<footer id="footer"> <!------------------FOOTER------------------------>              
		<ul id="footerlist">
			<li> <div>Total Belanja :</div> <div id="footerharga">0</div>	</li>

			<li id="footerdiskon"> <div> Diskon Total : </div> <input type="text" name="diskon total"> </li>
		
			<li>
				<ul id="navlist">
					<li id = "navitem">
						<button onclick="hitung()"> Hitung Belanja</button>
					</li>

					<li id = "navitem">
						<a download="struk.txt" id="cetak">Cetak Struk</a>
					</li>
				</ul>
			</li>
		</ul>
		
	</footer>


	<script src="index.js"></script>
	<!--<script src="struk.js"></script>-->
</body>
</html>